<table class="table table-hover">
  <tr>
    <th>Ticket Number</th>
    <th>Heading</th>
    <th>Description</th>
    <th>Status</th>
  </tr>
  <% @issues.each do |data| %>
  <td><%= data.ticket_no %></td>
  <td><%= data.heading %></td>
  <td><%= data.description %></td>
  <td><% if data.status.blank? %>
     <%= link_to 'Assign', action: 'show_devs', id: data.id if permitted_to? :index, :users %>
  <% else %>
    <%= data.status %>
  <% end %>
</td>
</tr>
<% end %>
</table>